<h1>Welcome!</h1><br>

<h2>How to play Rock Paper Scissors:</h2><br>

<p>
  Player 1 chooses Rock, Paper, or Scissors<br>
  Player 2 then does the same<br><br>
  Rock beats Scissors, Scisssors beats Paper, and Paper beats Rock
</p><br><br>

<h2>Good luck!</h2>
