<h1>Welcome!</h1>

<h2>Here's how to play Rock Paper Scissors:</h2>

<p>
  Player 1 chooses Rock, Paper, or Scissors (don't let Player 2 see!)<br>
  Then Player 2 chooses one of the three in secret<br><br>
  Rock beats Scissors, Scisssors beats Paper, and Paper beats Rock.
</p>

<h2>Good luck!</h2>
